<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ErrorMessageTitle" value="×" />
    <add key="WarningMessageTitle" value="△" />
    <add key="InformationMessageTitle" value="○" />
    <add key="ConfirmMessageTitle" value="ｉ" />
    <add key="OkButtonCaption" value="OK" />
    <add key="CancelButtonCaption" value="Cancel" />
    <add key="CloseButtonCaption" value="閉じる" />
    <add key="SuccessMessage" value="成功" />
    <add key="FailureMessage" value="失敗" />
    <add key="DoneMessage" value="終了" />
  </appSettings>
</configuration>